<form #addForm="ngForm" (ngSubmit)="addForm.form.valid && !recordSearchFailed && add()">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Nhập tên khách hàng" [class.is-invalid]="recordSearchFailed" [(ngModel)]="currentRecord"
      name="currentRecord" [ngbTypeahead]="recordLoading" [resultFormatter]="recordFormatter" [inputFormatter]="recordFormatter"
      required #record="ngModel">
    <span class="btn clickable input-group-addon fa fa-plus" (click)="addForm.form.valid && !recordSearchFailed && add()"></span>
  </div>
  <p class="error-notify" [hidden]="record.valid || record.pristine">Không được để trống</p>
  <p class="error-notify" *ngIf="record.valid && recordSearchFailed">Khách hàng không tồn tại</p>
</form>
<p class="lead m-4" [hidden]="list && list.length > 0">Không có khách hàng để quản lý</p>
<div class="mt-3 content" id="collection" *ngIf="list && list.length > 0">
  <ngb-pagination [collectionSize]="totalSize" [pageSize]="pageSize" [(page)]="page" [boundaryLinks]="true" [maxSize]="5" [rotate]="true"
    (pageChange)="pageChange($event)"></ngb-pagination>
  <p style="font-weight: bold">Tổng số: {{totalSize}}</p>
  <table class="table table-hover table-responsive table-mc-light-blue">
    <thead>
      <tr>
        <th>#</th>
        <th>Tên khách hàng</th>
        <th>Địa chỉ</th>
        <th>Điện thoại</th>
        <th>Người đại diện</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list; let i=index" [routerLink]="['/admin/customer/detail',item._id]" routerLinkActive="active">
        <td>{{i+1}}</td>
        <td>{{item.Name}}</td>
        <td>{{item.Address}}</td>
        <td>{{item.Phone}}</td>
        <td>{{item.Representative}}</td>
        <td class="clickable text-center">
          <i class="fa fa-times" (click)="delete(item);$event.stopPropagation();"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
