<app-title [title]="'Thêm hội thảo'" [mode]="'single'"></app-title>
<div class="container p-5">
  <form (ngSubmit)="form.form.valid && !indexSearchFailed && submit()" #form="ngForm">
    <div class="form-group">
      <label for="EmplID">Mã hội thảo</label>
      <input type="text" [(ngModel)]="record.SeminarID" class="form-control" name="SeminarID" placeholder="Nhập mã hội thảo" readonly
        required>
    </div>
    <div class="form-group">
      <label for="Name">Tên hội thảo</label>
      <input type="text" [(ngModel)]="record.Name" #name="ngModel" class="form-control" name="Name" placeholder="Nhập tên hội thảo"
        required>
      <p style="color: red" [hidden]="name.valid || name.pristine">Phải nhập tên hội thảo</p>
    </div>
    <div class="form-group">
      <label for="Content">Nội dung hội thảo</label>
      <textarea rows="5" type="text" [(ngModel)]="record.Content" class="form-control" name="Content" placeholder="Nhập nội dung hội thảo"></textarea>
    </div>
    <div class="form-group">
      <label for="Time">Thời gian</label>
      <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="record.Time" name="Time" ngbDatepicker #time="ngbDatepicker" placeholder="Chọn thời gian"
          required>
        <button class="input-group-addon" (click)="time.toggle()" type="button">
          <i class="fa fa-calendar"></i>
        </button>
      </div>
    </div>
    <div class="form-group">
      <label for="OrganizationalUnit">Đơn vị tổ chức</label>
      <input type="text" [(ngModel)]="record.OrganizationalUnit" class="form-control" name="OrganizationalUnit" placeholder="Nhập đơn vị tổ chức">
    </div>
    <div class="form-group">
      <div class="form-group">
        <label for="SharingEmpl">Nhân viên chia sẻ</label>
        <input type="text" class="form-control" [class.is-invalid]="indexSearchFailed" placeholder="Nhập tên nhân viên" [(ngModel)]="record.SharingEmpl"
          name="SharingEmpl" [ngbTypeahead]="indexLoading" [resultFormatter]="indexFormatter" [inputFormatter]="indexFormatter"
          required #employee="ngModel">
        <p style="color: red" [hidden]="employee.valid || employee.pristine">Nhân viên không để trống</p>
        <p style="color: red" *ngIf="employee.valid && indexSearchFailed">Nhân viên không tồn tại</p>
      </div>
    </div>
    <div class="text-right">
      <button type="submit" class="btn app-btn" [disabled]="!form.form.valid || indexSearchFailed">Tạo mục hội thảo</button>
    </div>
  </form>
</div>
