<div class="container pt-5">
  <div class="mx-auto" style="width: 150px">
    <img src="/assets/images/fpt.png" alt="" style="width: 100%">
  </div>
  <div class="mx-auto" style="width: 250px">
    <img src="/assets/images/logo.png" alt="" style="width: 100%">
  </div>
  <div class="single category">
    <ul class="list-unstyled">
      <li>
        <a routerLink="employee" [queryParams]="{page: 1}" routerLinkActive="active">Nhân viên
        </a>
      </li>
      <li>
        <a routerLink="customer" [queryParams]="{page: 1}" routerLinkActive="active">Khách hàng
        </a>
      </li>
      <li>
        <a routerLink="consultancy" [queryParams]="{page: 1}" routerLinkActive="active">Tư vấn
        </a>
      </li>
      <li>
        <a routerLink="study" [queryParams]="{page: 1}" routerLinkActive="active">Nghiên cứu
        </a>
      </li>
      <li>
        <a routerLink="seminar" [queryParams]="{page: 1}" routerLinkActive="active">Hội thảo
        </a>
      </li>
      <li>
        <a routerLink="document" [queryParams]="{page: 1}" routerLinkActive="active">Tài liệu
        </a>
      </li>
    </ul>
  </div>
</div>
