<p class="lead m-5" [hidden]="list && list.length > 0">Chưa có tài liệu</p>
<div *ngIf="list && list.length > 0">
  <ngb-pagination [collectionSize]="totalSize" [pageSize]="pageSize" [(page)]="page" [boundaryLinks]="true" [maxSize]="5" [rotate]="true"
    (pageChange)="pageChange($event)"></ngb-pagination>
  <p style="font-weight: bold">Tổng số: {{totalSize}}</p>
  <table class="mt-2 table table-hover table-responsive table-mc-light-blue">
    <thead>
      <tr>
        <th>#</th>
        <th>Tập tin</th>
        <th>Kích thước</th>
        <th>Ngày đăng</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let file of list; let i=index">
        <td>{{i + 1}}</td>
        <td>{{file.data.originalname}}</td>
        <td>{{file.data.size}} bytes</td>
        <td>{{modifyDate(file.date)}}</td>
        <td class="clickable text-center">
          <i class="fa fa-eye" (click)="open(file);$event.stopPropagation();"></i>
        </td>
        <td class="clickable text-center">
          <i class="fa fa-download" (click)="download(file);$event.stopPropagation();"></i>
        </td>
        <td class="clickable text-center">
          <i class="fa fa-times" (click)="delete(file);$event.stopPropagation();"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
