<app-title [title]="'Danh sách hội thảo'" [mode]="'list'"></app-title>
<app-access-control [apiUrl]="'/seminars'" [placeholder]="'Nhập tên hội thảo'"></app-access-control>
<div id="accordion" role="tablist">
  <div class="card">
    <div class="card-header collapsed clickable" role="tab" id="headingTwo" data-toggle="collapse" href="#collapseTwo" aria-expanded="false"
      aria-controls="collapseTwo">
      <h5 class="mb-0">
        Tìm kiếm
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <form (ngSubmit)="search()">
          <div class="mt-3 row" id="filteredBox">
            <div class="col-sm-8 col-xs-12">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Nhập từ khóa" [(ngModel)]="searchParams.keyWord" name="keyWord">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-xs-12">
              <div class="input-group mb-3">
                <input type="text" class="form-control" [(ngModel)]="searchParams.startDate" name="startDate" ngbDatepicker #begin="ngbDatepicker"
                  placeholder="Ngày bắt đầu" [disabled]="searchParams.timeMode != 'depends'">
                <button class="input-group-addon" (click)="begin.toggle()" type="button">
                  <i class="fa fa-calendar"></i>
                </button>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="input-group mb-3">
                <input type="text" class="form-control" [(ngModel)]="searchParams.endDate" name="endDate" ngbDatepicker #end="ngbDatepicker"
                  placeholder="Ngày kết thúc" [disabled]="searchParams.timeMode != 'depends'">
                <button class="input-group-addon" (click)="end.toggle()" type="button">
                  <i class="fa fa-calendar"></i>
                </button>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="form-group">
                <select class="form-control" [(ngModel)]="searchParams.timeMode" name="timeMode">
                  <option value="10-days-recent">10 ngày gần đầy</option>
                  <option value="20-days-recent">20 ngày gần đầy</option>
                  <option value="depends">Tùy chỉnh</option>
                  <option value="all">Toàn bộ thời gian</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <!-- <div class="form-group">
                <input type="text" class="form-control" placeholder="Nhập mã hoặc tên nhân viên chia sẻ" [(ngModel)]="searchParams.collectionRecord"
                  name="collectionRecord" [ngbTypeahead]="indexLoading" [resultFormatter]="indexFormatter" [inputFormatter]="indexFormatter">
                <p style="color: red" *ngIf="indexSearchFailed">Nhân viên không tồn tại</p>
              </div> -->
            </div>
            <div class="col text-right ml-auto">
              <button class="btn app-btn primary" type="submit">Tìm kiếm</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<p class="lead m-5" [hidden]="list && list.length > 0">Không có mục hội thảo</p>
<div class="col-sm-12 col-xs-12 mt-3 content" id="collection" *ngIf="list && list.length > 0">
  <ngb-pagination [collectionSize]="totalSize" [pageSize]="pageSize" [(page)]="page" [boundaryLinks]="true" [maxSize]="5" [rotate]="true"
    (pageChange)="pageChange($event)"></ngb-pagination>
  <p style="font-weight: bold">Tổng số: {{totalSize}}</p>
  <table class="table table-hover table-responsive table-mc-light-blue">
    <thead>
      <tr>
        <th>#</th>
        <th>Tên hội thảo</th>
        <th>Thời gian</th>
        <th>Đơn vị tổ chức</th>
        <th>Nhân viên chia sẻ</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list; let i=index" [routerLink]="['../detail/' + item._id]" routerLinkActive="active">
        <td>{{i+1}}</td>
        <td>{{item.Name}}</td>
        <td>{{modifyDate(item.Time)}}</td>
        <td>{{item.OrganizationalUnit}}</td>
        <td>{{item.SharingEmpl.Name}}</td>
        <td class="clickable text-center">
          <i class="fa fa-times" (click)="delete(item);$event.stopPropagation();"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
