<p class="lead m-2" [hidden]="list && list.length > 0">Chưa chia sẻ hội thảo nào</p>
<div class="mt-3 content" id="collection" *ngIf="list && list.length > 0">
  <ngb-pagination [collectionSize]="totalSize" [pageSize]="pageSize" [(page)]="page" [boundaryLinks]="true" [maxSize]="5" [rotate]="true"
    (pageChange)="pageChange($event)"></ngb-pagination>
  <p style="font-weight: bold">Tổng số: {{totalSize}}</p>
  <table class="table table-hover table-responsive table-mc-light-blue">
    <thead>
      <tr>
        <th>#</th>
        <th>Tên hội thảo</th>
        <th>Đơn vị tổ chức</th>
        <th>Thời gian</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list; let i=index" [routerLink]="['/admin/seminar/detail',item._id]" routerLinkActive="active">
        <td>{{i+1}}</td>
        <td>{{item.Name}}</td>
        <td>{{item.OrganizationalUnit}}</td>
        <td>{{modifyDate(item.Time)}}</td>
      </tr>
    </tbody>
  </table>
</div>
