/* You can add global styles to this file, and also import other style files */


/* Extra small devices (portrait phones, less than 576px) */


/* @media (max-width: 575px) {} */


/* Small devices (landscape phones, 576px and up) */


/* @media (min-width: 576px) and (max-width: 767px) {} */


/* Medium devices (tablets, 768px and up) */


/* @media (min-width: 768px) and (max-width: 991px) {} */


/* Large devices (desktops, 992px and up) */


/* @media (min-width: 992px) and (max-width: 1199px) {} */


/* Extra large devices (large desktops, 1200px and up) */


/* @media (min-width: 1200px) {} */

.clickable:hover {
  cursor: pointer;
}

#content {
  min-height: 570px;
}

.app-btn {
  font-weight: bold !important;
  color: white;
  background: rgb(36, 216, 75);
  border-radius: 0 !important;
  padding: 15px !important;
}

.app-btn:not(:disabled):hover {
  cursor: pointer;
  background: rgb(42, 148, 56);
}

.app-btn.default {
  background: rgb(126, 123, 123);
}

.app-btn:not(:disabled).default:hover {
  background: rgb(65, 64, 64);
}

.app-btn.primary {
  background: #007bff;
}

.app-btn:not(:disabled).primary:hover {
  background: blue;
}

.app-btn.toggle-btn {
  background: #eee;
  color: black;
}

.app-btn.toggle-btn:hover {
  background: rgb(175, 171, 171);
}

.app-btn.toggle-btn.active {
  background: rgb(59, 58, 58);
  color: white;
}

/* .ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42A948;

}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;

}

.is-invalid {
  border-left: 5px solid #a94442;
} */

.fantastic-textfield {
  padding: 15px !important;
  border-radius: 0px !important;
  border-color: white;
  border-bottom: 1px solid gray !important;
}

.fantastic-textfield:hover,
.fantastic-textfield:focus {
  box-shadow: 1px 1px 5px #888888;
  border: none;
  border-bottom: 1px solid black !important;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.title {
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  font-weight: bold;
  font-size: 20px;
  color: #202020 !important;
  line-height: 1.4;
  box-shadow: 1px 1px 3px #888888;
}

.title,
.sidebar {
  background: white;
}


/* .content {} */

.error-notify {
  color: red;
}

.card-header h5 {
  padding-left: 30px;
}

.card-header h5::before {
  font-family: FontAwesome;
  content: '\f0dd';
}

.bg-admin {
  background: #e68823 !important;
}

.bg-user {
  background: #1d0d63 !important;
}
